@font-face {
    font-family: regular;
    src: url(font/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: mlight;
    src: url(font/Myriad\ Pro\ Light.otf);
}

.container1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
}

#img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
}

#logoatras {
    position: absolute;
    width: 10vw;
    height: 7vw;
    top: 22vw;
    left: 45vw;
}

#cuadroBlanco{
    width: 50vw;
    height: 25vw;
    background: white;
    text-align: center;
    position: relative;
    margin-top: 12.5vw;
    margin-left: 25vw;
    border-radius: 3vw;
    animation-name: aparicion;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes aparicion {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#k{
    margin-top: 2vw;
    width: 7vw;
    height: 5vw;
}
#media{
    margin-top: 0.1vw;
    font-size: 1vw;
    color: rgb(93, 90, 90);
    font-family: mlight;
}
#bienvenido{
    margin-top: -0.5vw;
    font-size: 2vw;
    font-family: regular;
    color: black;
}
#fotoProfe{
    margin-top: -1vw;
    width: 5vw;
    height: 5vw;
}
#pedrito{
    margin-top: 0.8vw;
    font-size: 2vw;
    font-family: regular;
    color: black;
}
#user{
    margin-top: -1.1vw;
    font-size: 1vw;
    font-family: mlight;
    color: rgb(93, 90, 90);
}

.container {
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 108vh;
    z-index: -1;
    animation-name: lastpage;
    animation-delay: 4s;
    animation-duration: 0.5s;
    background-color: white;
    animation-fill-mode: forwards;
}

@keyframes lastpage {
    0% {z-index: -1;}
    100% {z-index: 1;}
}

.menu {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 3.5vw;
    border-bottom: 0.15vw  solid #a3a3a3 ;
}

.menu img {
    width: 1.5vw;
    margin-top: 0.6vw;
}

#img4{
    margin-top: 0.3vw;
}

#img9 {
    position: absolute;
    left: 95vw;
    width: 2.7vw;
    top: -0.2vw;
}

#img8 {
    position: absolute;
    left: 93vw;
    width: 1vw;
}

#img7 {
    position: absolute;
    left: 91vw;
    width: 1vw;
}

.iconos {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-left: 3vw;
}

#img4 {
    width: 2vw;
}

.texto {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    font-family: regular;
    font-size: 1.3vw;
}

#p5 {
    position: absolute;
    left: 78vw;
    text-decoration: none;
    color: #000;
}

#p4 {
    position: absolute;
    left: 65vw;
    text-decoration: none;
    color: #000;
}

#p3 {
    position: absolute;
    left: 37.5vw;
    text-decoration: none;
    color: #000;
}

#p2 {
    position: absolute;
    left: 24.5vw;
    text-decoration: none;
    color: #000;
}

#p1 {
    position: absolute;
    left: 11.5vw;
    text-decoration: none;
    color: #000;
}

.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cp1 {
    font-family: regular;
    font-size: 1.9vw;
}

#cp2 {
    font-family: mlight;
    font-size: 1.25vw;
    margin-top: -1vw;
}

.tittles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 90vw;
    margin-left: -7vw;
    font-family: regular;
    font-size: 1.25vw;
}

#tp1 {
    margin-left: 1vw;
}

#tp2 {
    margin-left: 5.5vw;
}

#tp3 {
    margin-left: 3vw;
}

#tp6 {
    margin-right: 1vw;
}

#tp7 {
    margin-right: 1vw;
}

.casilla1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 4vw;
    margin-left: -5vw;
    border: 0.15vw solid #a3a3a3;
    border-radius: 1.2vw;
}

.casilla1 p {
    position: absolute;
    margin-left: -4vw;
    font-family: mlight;
    font-size: 1.2vw;
}

#mo1 {
    left: 8vw;
}

#de1 {
    left: 21vw;
}

#cat1 {
    left: 34.2vw;
}

#fi1 {
    left: 41.8vw;
}

#ft1 {
    left: 54vw;
}

#fo1 {
    left: 64.8vw;
}

#fr1 {
    left: 73.5vw;
}

#cu1 {
    left: 82.1vw;
    font-size: 1vw;
}

#a1 {
    left: 90vw;
}

.circle1 {
    position: absolute;
    border: 0.4vw solid #ff0011;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50vw;
    left: 77.45vw;
}

.casilla2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 4vw;
    margin-top: 1vw;
    margin-left: -5vw;
    border: 0.15vw solid #a3a3a3;
    border-radius: 1.2vw;
}

.casilla2 p {
    position: absolute;
    margin-left: -4vw;
    font-family: mlight;
    font-size: 1.2vw;
}

#mo2 {
    left: 8vw;
}

#de2 {
    left: 21vw;
}

#cat2 {
    left: 34.2vw;
}

#fi2 {
    left: 41.8vw;
}

#ft2 {
    left: 54vw;
}

#fo2 {
    left: 64.8vw;
}

#fr2 {
    left: 73.5vw;
}

#cu2 {
    left: 82.1vw;
    font-size: 1vw;
}

#a2 {
    left: 90.8vw;
}

.casilla3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 4vw;
    margin-top: 1vw;
    margin-left: -5vw;
    border: 0.15vw solid #a3a3a3;
    border-radius: 1.2vw;
}

.casilla3 p {
    position: absolute;
    margin-left: -4vw;
    font-family: mlight;
    font-size: 1.2vw;
}

#mo3 {
    left: 8vw;
}

#de3 {
    left: 21vw;
}

#cat3 {
    left: 34.2vw;
}

#fi3 {
    left: 41.8vw;
}

#ft3 {
    left: 54vw;
}

#fo3 {
    left: 64.8vw;
}

#fr3 {
    left: 73.5vw;
}

#cu3 {
    left: 82.1vw;
    font-size: 1vw;
}

#a3 {
    left: 90vw;
}

.circle3 {
    position: absolute;
    border: 0.4vw solid #00d010;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50vw;
    left: 77.45vw;
}

.casilla4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 4vw;
    margin-top: 1vw;
    margin-left: -5vw;
    border: 0.15vw solid #a3a3a3;
    border-radius: 1.2vw;
}

.casilla4 p {
    position: absolute;
    margin-left: -4vw;
    font-family: mlight;
    font-size: 1.2vw;
}

#mo4 {
    left: 8vw;
}

#de4 {
    left: 21vw;
}

#cat4 {
    left: 34.2vw;
}

#fi4 {
    left: 41.8vw;
}

#ft4 {
    left: 54vw;
}

#fo4 {
    left: 66vw;
}

#fr4 {
    left: 73.5vw;
}

#cu4 {
    left: 82.1vw;
    font-size: 1vw;
}

#a4 {
    left: 90.5vw;
}

.casilla5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 4vw;
    margin-top: 1vw;
    margin-left: -5vw;
    border: 0.15vw solid #a3a3a3;
    border-radius: 1.2vw;
}

.casilla5 p {
    position: absolute;
    margin-left: -4vw;
    font-family: mlight;
    font-size: 1.2vw;
}

#mo5 {
    left: 8vw;
}

#de5 {
    left: 21vw;
}

#cat5 {
    left: 34.2vw;
}

#fi5 {
    left: 41.8vw;
}

#ft5 {
    left: 54vw;
}

#fo5 {
    left: 64.8vw;
}

#fr5 {
    left: 73.5vw;
}

#cu5 {
    left: 82.1vw;
    font-size: 1vw;
}

#a5 {
    left: 90vw;
}

.circle5 {
    position: absolute;
    border: 0.4vw solid #00d010;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50vw;
    left: 77.45vw;
}

.casilla6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 4vw;
    margin-top: 1vw;
    margin-left: -5vw;
    border: 0.15vw solid #a3a3a3;
    border-radius: 1.2vw;
}

.casilla6 p {
    position: absolute;
    margin-left: -4vw;
    font-family: mlight;
    font-size: 1.2vw;
}

#mo6 {
    left: 8vw;
}

#de6 {
    left: 21vw;
}

#cat6 {
    left: 34.2vw;
}

#fi6 {
    left: 41.8vw;
}

#ft6 {
    left: 54vw;
}

#fo6 {
    left: 64.8vw;
}

#fr6 {
    left: 73.5vw;
}

#cu6 {
    left: 82.1vw;
    font-size: 1vw;
}

#a6 {
    left: 90vw;
}

.circle6 {
    position: absolute;
    border: 0.4vw solid #ff9f05;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50vw;
    left: 77.45vw;
}

.divisor {
    position: relative;
    background-color: white;
    width: 0.4vw;
    height: 1vw;
    left: 76.3vw;
    top: -1.1vw;
}

.options {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3.5vw;
    top: 16.6vw;
    left: 93vw;
    width: 2vw;
}

.buttom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 3vw;
    border-radius: 20vw;
    top: 47.5vw;
    background-color: #ff6f2c;
    font-family: mlight;
}

#añadir1{
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}