@font-face {
    font-family: mlight;
    src: url(font/Myriad\ Pro\ Light.otf);
}

@font-face {
    font-family: regular;
    src: url(font/Myriad\ Pro\ Regular.ttf);
}

@media (max-width: 1920px) and (min-width: 432px) {

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 108vh;
}

.menu {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 3.5vw;
    border-bottom: 0.15vw  solid #a3a3a3 ;
}

.menu img {
    width: 1.5vw;
    margin-top: 0.6vw;
}

#img4{
    margin-top: 0.3vw;
}

#img9 {
    position: absolute;
    left: 95vw;
    width: 2.7vw;
    top: 0vw;
}

#img8 {
    position: absolute;
    left: 93vw;
    width: 1vw;
}

#img7 {
    position: absolute;
    left: 91vw;
    width: 1vw;
}

#option {
    display: none;
}

#options {
    display: none;
}

.iconos {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-left: 3vw;
}

#img4 {
    width: 2vw;
}

.texto {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    font-family: regular;
    font-size: 1.3vw;
}

#p5 {
    position: absolute;
    left: 78vw;
    text-decoration: none;
    color: #000;
}

#p4 {
    position: absolute;
    left: 65vw;
    text-decoration: none;
    color: #000;
}

#p3 {
    position: absolute;
    left: 37.5vw;
    text-decoration: none;
    color: #000;
}

#p2 {
    position: absolute;
    left: 24.5vw;
    text-decoration: none;
    color: #000;
}

#p1 {
    position: absolute;
    left: 11.5vw;
    text-decoration: none;
    color: #000;
}

.salida {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vw;
    left: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50vw;
    background-color: #ff6f2c;
}

.salida img {
    width: 2vw;
}

.info {
    position: absolute;
    text-align: center;
}

#tittle {
    margin-top: 8vw;
    font-family: regular;
    font-size: 1.9vw;
}

#description {
    font-family: mlight;
    font-size: 1.3vw;
}

.cuadros {
    position: absolute;
    display: flex;
    gap: 8vw;
    top: 16vw;
}

.cuadros img {
    margin-left: 6.5vw;
    width: 2vw;
}

.cuadro1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: regular;
    font-size: 1.3vw;
    width: 15vw;
    height: 15vw;
    border: 0.1vw solid black;
}

#cll {
    font-family: mlight;
}

.cuadro2 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: regular;
    font-size: 1.3vw;
    width: 15vw;
    height: 15vw;
    border: 0.1vw solid black;
}

#number {
    font-family: mlight;
}

.cuadro3 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: regular;
    font-size: 1.3vw;
    width: 15vw;
    height: 15vw;
    border: 0.1vw solid black;
}

#phone {
    font-family: mlight;
}

.cuadro4 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: regular;
    font-size: 1.3vw;
    width: 15vw;
    height: 15vw;
    border: 0.1vw solid black;
}

#email {
    font-family: mlight;
}

#question {
    position: absolute;
    font-family: regular;
    font-size: 2vw;
    top: 32vw;
    left: 8vw;
}

.franjas {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: mlight;
    font-size: 1.5vw;
    top: 38vw;
    gap: 1vw;
}

.franjas img {
    width: 3vw;
}

.franja1 {
    display: flex;
    align-items: center;
    width: 84.5vw;
    height: 4vw;
    background-color: #d9d9d9;
}

.franja2 {
    display: flex;
    align-items: center;
    width: 84.5vw;
    height: 4vw;
    background-color: #d9d9d9;
}

.franja3 {
    display: flex;
    align-items: center;
    width: 84.5vw;
    height: 4vw;
    background-color: #d9d9d9;
}

}

@media (max-width: 431px) {

    .container {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 360vw;
    }
    
    .menu {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 15vw;
        margin-left: 5vw;
        border-bottom: 0.15vw  solid #a3a3a3 ;
    }
    
    #img9 {
        position: absolute;
        top: 1.5vw;
        left: 85vw;
        width: 12vw;
    }
    
    #img8 {
        position: absolute;
        left: 75vw;
        width: 5vw;
    }
    
    #img7 {
        position: absolute;
        left: 65vw;
        width: 5vw;
    }

    #img4 {
        position: absolute;
        top: 6vw;
        left: 47vw;
        width: 15vw;
        transform: scale(3.5);
        opacity: 1;
    }

    .menu img {
        width: 8vw;
    }

    .iconos {
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-left: 3vw;
        margin-top: 85vw;
        z-index: 4;
        opacity: 0;
        gap: 4vw;
    }

    #option:checked ~.iconos {
        opacity: 1;
    }
    
    .texto a{
        position: absolute;
        font-family: mlight;
        font-size: 5vw;
        z-index: 1;
        opacity: 0;
    }

    #option:checked ~.texto a {
        opacity: 1;
    }

    .texto {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    #p5 {
        top: 65vw;
        margin-left: -56vw;
        text-decoration: none;
        color: #fff;
    }
    
    #p4 {
        top: 53vw;
        margin-left: -43.5vw;
        text-decoration: none;
        color: #fff;
    }
    
    #p3 {
        top: 39vw;
        margin-left: -16vw;
        text-decoration: none;
        color: #fff;
    }
    
    #p2 {
        top: 24vw;
        margin-left: -3vw;
        text-decoration: none;
        color: #fff;
    }
    
    #p1 {
        top: 12vw;
        margin-left: 10vw;
        text-decoration: none;
        color: #fff;
    }
    
    .salida {
        opacity: 0;
    }
 
    .info {
        position: absolute;
        text-align: center;
    }
    
    #tittle {
        margin-top: 20vw;
        font-family: regular;
        font-size: 5.5vw;
    }
    
    #description {
        font-family: mlight;
        font-size: 4vw;
    }

    .cuadros {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 8vw;
        top: 45vw;
    }
    
    .cuadros img {
        width: 15vw;
    }
    
    .cuadro1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-family: regular;
        font-size: 4vw;
        width: 80vw;
        height: 50vw;
        border: 0.1vw solid black;
    }
    
    #cll {
        font-family: mlight;
    }
    
    .cuadro2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-family: regular;
        font-size: 4vw;
        width: 80vw;
        height: 50vw;
        border: 0.1vw solid black;
    }
    
    #number {
        font-family: mlight;
    }
    
    .cuadro3 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-family: regular;
        font-size: 4vw;
        width: 80vw;
        height: 50vw;
        border: 0.1vw solid black;
    }
    
    #phone {
        font-family: mlight;
    }
    
    .cuadro4 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-family: regular;
        font-size: 4vw;
        width: 80vw;
        height: 50vw;
        border: 0.1vw solid black;
    }
    
    #email {
        font-family: mlight;
    }

    #question {
        position: absolute;
        font-family: regular;
        font-size: 5.5vw;
        top: 275vw;
        left: 9.5vw;
    }

    .franjas {
        position: absolute;
        display: flex;
        flex-direction: column;
        font-family: regular;
        font-size: 4vw;
        top: 295vw;
        gap: 4vw;
    }
    
    .franjas img {
        width: 8vw;
    }
    
    .franja1 {
        display: flex;
        align-items: center;
        width: 82vw;
        height: 15vw;
        background-color: #d9d9d9;
    }
    
    .franja2 {
        display: flex;
        align-items: center;
        width: 82vw;
        height: 15vw;
        background-color: #d9d9d9;
    }
    
    .franja3 {
        display: flex;
        align-items: center;
        width: 82vw;
        height: 15vw;
        background-color: #d9d9d9;
    }

    .iconos {
        display: flex;
        justify-content: space-around;
        width: 80vw;
        margin-left: 3vw;
    }
    
    #img4 {
        width: 2vw;
    }
    
    .texto {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 75vw;
        font-family: regular;
        font-size: 1.3vw;
    }
    
    #p5 {
        position: absolute;
        left: 78vw;
    }
    
    #p4 {
        position: absolute;
        left: 65vw;
    }
    
    #p3 {
        position: absolute;
        left: 37.5vw;
    }
    
    #p2 {
        position: absolute;
        left: 24.5vw;
    }
    
    #p1 {
        position: absolute;
        left: 11.5vw;
    }

    .check {
        position: absolute;
        width: 10vw;
        height: 10vw;
    }

    #options {
        position: absolute;
        width: 5vw;
        height: 5vw;
    }

    #option {
        position: absolute;
        top: 5vw; 
    }

    .hamburguer {
        position: absolute;
        top: 15vw;
        left: 0vw;
        width: 100vw;
        height: 0vw;
        background-color: #000;
        z-index: 1;
    }

    #option:checked ~.hamburguer {
        width: 100vw;
        height: 70vw;
        animation-name: nose;
        animation-duration: 0s;
        transition: 0s;
    }
      
    @keyframes nose {
        from { width: 100vw ; height: 0vw;}
        to { width: 100vw; height: 70vw;}
    }

}