@font-face {
    font-family: mlight;
    src: url(font/Myriad\ Pro\ Light.otf);
}

@font-face {
    font-family: regular;
    src: url(font/Myriad\ Pro\ Regular.ttf);
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 108vh;
}

.menu {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 3.5vw;
    border-bottom: 0.15vw  solid #a3a3a3 ;
}

.menu img {
    width: 1.5vw;
}

#img9 {
    position: absolute;
    left: 95vw;
    width: 2.7vw;
}

#img8 {
    position: absolute;
    left: 93vw;
    width: 1vw;
}

#img7 {
    position: absolute;
    left: 91vw;
    width: 1vw;
}

.iconos {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-left: 3vw;
}

#img4 {
    width: 2vw;
}

.texto {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    font-family: regular;
    font-size: 1.3vw;
}

#p5 {
    position: absolute;
    left: 78vw;
}

#p4 {
    position: absolute;
    left: 65vw;
}

#p3 {
    position: absolute;
    left: 37.5vw;
}

#p2 {
    position: absolute;
    left: 24.5vw;
}

#p1 {
    position: absolute;
    left: 11.5vw;
}

.salida {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vw;
    left: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50vw;
    background-color: #ff6f2c;
}

.salida img {
    width: 2vw;
}

.info {
    position: absolute;
    text-align: center;
}

#tittle {
    margin-top: 8vw;
    font-family: regular;
    font-size: 1.9vw;
}

#description {
    font-family: mlight;
    font-size: 1.3vw;
}

.cuadros {
    position: absolute;
    display: flex;
    gap: 8vw;
    top: 16vw;
}

.cuadros img {
    margin-left: 6.5vw;
    width: 2vw;
}

.cuadro1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: regular;
    font-size: 1.3vw;
    width: 15vw;
    height: 15vw;
    border: 0.1vw solid black;
}

#cll {
    font-family: mlight;
}

.cuadro2 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: regular;
    font-size: 1.3vw;
    width: 15vw;
    height: 15vw;
    border: 0.1vw solid black;
}

#number {
    font-family: mlight;
}

.cuadro3 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: regular;
    font-size: 1.3vw;
    width: 15vw;
    height: 15vw;
    border: 0.1vw solid black;
}

#phone {
    font-family: mlight;
}

.cuadro4 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: regular;
    font-size: 1.3vw;
    width: 15vw;
    height: 15vw;
    border: 0.1vw solid black;
}

#email {
    font-family: mlight;
}

#question {
    position: absolute;
    font-family: regular;
    font-size: 2vw;
    top: 32vw;
    left: 8vw;
}

.franjas {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: mlight;
    font-size: 1.5vw;
    top: 38vw;
    gap: 1vw;
}

.franjas img {
    width: 3vw;
}

.franja1 {
    display: flex;
    align-items: center;
    width: 84.5vw;
    height: 4vw;
    background-color: #d9d9d9;
}

.franja2 {
    display: flex;
    align-items: center;
    width: 84.5vw;
    height: 4vw;
    background-color: #d9d9d9;
}

.franja3 {
    display: flex;
    align-items: center;
    width: 84.5vw;
    height: 4vw;
    background-color: #d9d9d9;
}