@font-face {
    font-family: mlight;
    src: url(font/Myriad\ Pro\ Light.otf);
}
@font-face {
    font-family: regular;
    src: url(font/Myriad\ Pro\ Regular.ttf);
}

@media (max-width: 1920px) and (min-width: 801px) {

#contenedor{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
}
.salida {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vw;
    left: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50vw;
    background-color: #ff6f2c;
}

.salida img {
    width: 2vw;
}
.menu {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 3.5vw;
    border-bottom: 0.15vw  solid #a3a3a3 ;
}

.menu img {
    width: 1.5vw;
    margin-top: 0.6vw;
}

#img4{
    margin-top: 0.3vw;
}

#img9 {
    position: absolute;
    left: 95vw;
    width: 2.7vw;
    top: 0vw;
}

#img8 {
    position: absolute;
    left: 93vw;
    width: 1vw;
}

#img7 {
    position: absolute;
    left: 91vw;
    width: 1vw;
}

.iconos {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-left: 3vw;
}

#option {
    display: none;
}

#options {
    display: none;
}

#img4 {
    width: 2vw;
}

#img3{
    margin-top: -0.3vw;
}

#img5{
    margin-top: -0.3vw;
}

#img2{
    margin-top: -0.1vw;
}

.texto {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    font-family: regular;
    font-size: 1.3vw;
}

#p5 {
    position: absolute;
    left: 78vw;
    text-decoration: none;
    color: #000;
}

#p4 {
    position: absolute;
    left: 65vw;
    text-decoration: none;
    color: #000;
}

#p3 {
    position: absolute;
    left: 37.5vw;
    text-decoration: none;
    color: #000;
}

#p2 {
    position: absolute;
    left: 24.5vw;
    text-decoration: none;
    color: #000;
}

#p1 {
    position: absolute;
    left: 11.5vw;
    text-decoration: none;
    color: #000;
}

#panel{
    text-align: center;
    font-family: regular;
    font-size: 2vw;
    color: black;
    margin-top: 0.5vw;
}

#indicador{
    position: absolute;
    top: 8vw;
    width: 6vw;
    font-size: 1.5vw;
    font-family: regular;
    left: 17.5vw;
}

#cuadroTexto{
    position: absolute;
    top: 12vw;
    left: 12vw;
    font-size: 1.5vw;
    width: 18vw;
    height: 5vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    outline: none;
}

#descripcion{
    position: absolute;
    width: 8vw;
    font-size: 1.5vw;
    font-family: regular;
    top: 8vw;
    left: 46.5vw;
}

#cuadroTexto2{
    position: absolute;
    top: 12vw;
    left: 41vw;
    font-size: 1.5vw;
    width: 18vw;
    height: 5vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    outline: none;
}

#categoria{
    position: absolute;
    width: 8vw;
    font-size: 1.5vw;
    font-family: regular;
    top: 8vw;
    left: 76vw;
}

#cuadroTexto3{
    position: absolute;
    top: 12vw;
    left: 70vw;
    font-size: 1.5vw;
    width: 18vw;
    height: 5vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    outline: none;
}

#fechaI{
    position: absolute;
    top: 18vw;
    width: 10vw;
    font-size: 1.5vw;
    font-family: regular;
    margin-left: 17vw;
}

#cuadroTexto4{
    position: absolute;
    text-align: center;
    top: 22vw;
    left: 12vw;
    font-size: 1.5vw;
    width: 18vw;
    height: 5vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    outline: none;
}

#fechaT{
    position: absolute;
    width: 15vw;
    font-size: 1.5vw;
    font-family: regular;
    top: 18vw;
    left: 43.5vw;
}

#cuadroTexto5{
    position: absolute;
    text-align: center;
    top: 22vw;
    left: 41vw;
    font-size: 1.5vw;
    width: 18vw;
    height: 5vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    outline: none;
}

#formula{
    position: absolute;
    width: 8vw;
    font-size: 1.5vw;
    font-family: regular;
    top: 18vw;
    left: 76vw;
}

#cuadroTexto6{
    position: absolute;
    top: 22vw;
    left: 70vw;
    font-size: 1.5vw;
    width: 18vw;
    height: 5vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    outline: none;
}

#frecuencia{
    position: absolute;
    top: 28vw;
    width: 10vw;
    font-size: 1.5vw;
    font-family: regular;
    left: 17.5vw;
}

#cuadroTexto7{
    position: absolute;
    top: 32vw;
    left: 12vw;
    font-size: 1.5vw;
    width: 18vw;
    height: 5vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    outline: none;
}

#cumplimiento{
    position: absolute;
    width: 15vw;
    font-size: 1.5vw;
    font-family: regular;
    top: 28vw;
    margin-left: 45.5vw;
}

#cuadroTexto8{
    position: absolute;
    top: 32vw;
    left: 41vw;
    font-size: 1.5vw;
    width: 18vw;
    height: 5vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    outline: none;
}

#area{
    position: absolute;
    width: 8vw;
    font-size: 1.5vw;
    font-family: regular;
    top: 28vw;
    margin-left: 77.5vw;
}

#cuadroTexto9{
    position: absolute;
    top: 32vw;
    left: 70vw;
    font-size: 1.5vw;
    width: 18vw;
    height: 5vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    outline: none;
    text-align: center;
}

#boton{
    position: absolute;
    text-align: center;
    left: 43vw;
    top: 43vw;
    width: 14vw;
    height: 3vw;
    border-radius: 2vw;
    text-decoration: none;
    background: #ff6f2c;
}
#añadir{
    color: white;
    font-size: 1.1vw;
    margin-top: 0.9vw;
    font-family: mlight;
}

}

@media (max-width: 800px) {

    #contenedor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 290vw;
    }

    .menu {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 15vw;
        border-bottom: 0.15vw  solid #a3a3a3 ;
    }
    .salida {
        display: none;
    }
    
    #img9 {
        position: absolute;
        top: 2vw;
        left: 85vw;
        width: 12vw;
    }
    
    #img8 {
        position: absolute;
        left: 75vw;
        width: 5vw;
    }
    
    #img7 {
        position: absolute;
        left: 65vw;
        width: 5vw;
    }

    #img4 {
        position: absolute;
        top: 2vw;
        left: 41vw;
        width: 15vw;
        transform: scale(0.5);
        opacity: 1;
    }

    .menu img {
        width: 8vw;
    }

    .iconos {
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-left: -10vw;
        margin-top: 85vw;
        z-index: 4;
        opacity: 0;
        gap: 4vw;
    }

    #option:checked ~.iconos {
        opacity: 1;
    }

    #option:not(:checked) ~.iconos {
        pointer-events: none;
    }
    
    .texto a{
        position: absolute;
        font-family: mlight;
        font-size: 5vw;
        z-index: 1;
        opacity: 0;
    }

    #option:checked ~.texto a {
        opacity: 1;
    }

    #option:not(:checked) ~.texto a {
        pointer-events: none;
    }

    .texto {
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    
    #p5 {
        top: 65vw;
        left: 15vw;
        text-decoration: none;
        color: #fff;
    }
    
    #p4 {
        top: 53vw;
        left: 15vw;
        text-decoration: none;
        color: #fff;
    }
    
    #p3 {
        top: 39vw;
        left: 15vw;
        text-decoration: none;
        color: #fff;
    }
    
    #p2 {
        top: 24vw;
        left: 15vw;
        text-decoration: none;
        color: #fff;
    }
    
    #p1 {
        top: 12vw;
        left: 15vw;
        text-decoration: none;
        color: #fff;
    }

    .check {
        position: relative;
        width: 10vw;
        height: 10vw;
    }

    #options {
        position: absolute;
        top: 0vw;
        left: 0vw;
        width: 10vw;
        height: 10vw;
    }

    #option {
        position: absolute;
        top: 5vw;
        display: none;
    }

    .hamburguer {
        position: absolute;
        top: 15vw;
        left: 0vw;
        width: 100vw;
        height: 0vw;
        background-color: #000;
        z-index: 1;
    }

    #option:checked ~.hamburguer {
        width: 100vw;
        height: 70vw;
        animation-name: nose;
        animation-duration: 0s;
        transition: 0s;
    }
      
    @keyframes nose {
        from { width: 100vw ; height: 0vw;}
        to { width: 100vw; height: 70vw;}
    }

    #panel{
        text-align: center;
        font-family: regular;
        font-size: 5.5vw;
        color: black;
    }
    
    #indicador{
        position: absolute;
        width: 6vw;
        font-size: 5vw;
        font-family: regular;
        top: 30vw;
        left: 38vw;
        
    }
    
    #cuadroTexto{
        position: absolute;
        top: 45vw;
        left: 9vw;
        font-size: 4vw;
        width: 80vw;
        height: 10vw;
        border: #FF6F2C 2px solid;
        border-radius: 1vw;
        box-shadow: 1px 5px 10px rgba(255,224,210,255);
    }
    
    #descripcion{
        position: absolute;
        width: 8vw;
        font-size:5vw;
        font-family: regular;
        top: 55vw;
        left: 36vw;
    }
    
    #cuadroTexto2{
        position: absolute;
        top: 70vw;
        left: 9vw;
        font-size: 4vw;
        width: 80vw;
        height: 10vw;
        border: #FF6F2C 2px solid;
        border-radius: 1vw;
        box-shadow: 1px 5px 10px rgba(255,224,210,255);
    }
    
    #categoria{
        position: absolute;
        width: 8vw;
        font-size: 5vw;
        font-family: regular;
        top: 80vw;
        left: 37.5vw;
    }
    
    #cuadroTexto3{
        position: absolute;
        top: 95vw;
        left: 9vw;
        font-size: 4vw;
        width: 80vw;
        height: 10vw;
        border: #FF6F2C 2px solid;
        border-radius: 1vw;
        box-shadow: 1px 5px 10px rgba(255,224,210,255);
    }
    
    #fechaI{
        position: absolute;
        top: 105vw;
        width: 50vw;
        font-size: 5vw;
        font-family: regular;
        left: 32.5vw;
    }
    
    #cuadroTexto4{
        position: absolute;
        top: 120vw;
        left: 9vw;
        font-size: 4vw;
        width: 80vw;
        height: 10vw;
        border: #FF6F2C 2px solid;
        border-radius: 1vw;
        box-shadow: 1px 5px 10px rgba(255,224,210,255);
    }
    
    #fechaT{
        position: absolute;
        width: 50vw;
        font-size: 5vw;
        font-family: regular;
        top: 130vw;
        left: 27vw;
    }
    
    #cuadroTexto5{
        position: absolute;
        top: 145vw;
        left: 9vw;
        font-size: 4vw;
        width: 80vw;
        height: 10vw;
        border: #FF6F2C 2px solid;
        border-radius: 1vw;
        box-shadow: 1px 5px 10px rgba(255,224,210,255);
    }
    
    #formula{
        position: absolute;
        width: 8vw;
        font-size: 5vw;
        font-family: regular;
        top: 155vw;
        left: 39vw;
    }
    
    #cuadroTexto6{
        position: absolute;
        top: 170vw;
        left: 9vw;
        font-size: 4vw;
        width: 80vw;
        height: 10vw;
        border: #FF6F2C 2px solid;
        border-radius: 1vw;
        box-shadow: 1px 5px 10px rgba(255,224,210,255);
    }
    
    #frecuencia{
        position: absolute;
        top: 180vw;
        width: 10vw;
        font-size: 5vw;
        font-family: regular;
        margin-left: 37vw;
    }
    
    #cuadroTexto7{
        position: absolute;
        top: 195vw;
        left: 9vw;
        font-size: 4vw;
        width: 80vw;
        height: 10vw;
        border: #FF6F2C 2px solid;
        border-radius: 1vw;
        box-shadow: 1px 5px 10px rgba(255,224,210,255);
    }
    
    #cumplimiento{
        position: absolute;
        width: 15vw;
        font-size: 5vw;
        font-family: regular;
        top: 205vw;
        left: 33.5vw;
    }
    
    #cuadroTexto8{
        position: absolute;
        top: 220vw;
        left: 9vw;
        font-size: 4vw;
        width: 80vw;
        height: 10vw;
        border: #FF6F2C 2px solid;
        border-radius: 1vw;
        box-shadow: 1px 5px 10px rgba(255,224,210,255);
    }
    
    #area{
        position: absolute;
        width: 8vw;
        font-size: 5vw;
        font-family: regular;
        top: 230vw;
        left: 43vw;
    }
    
    #cuadroTexto9{
        position: absolute;
        top: 245vw;
        left: 9vw;
        font-size: 4vw;
        width: 80vw;
        height: 10vw;
        border: #FF6F2C 2px solid;
        border-radius: 1vw;
        box-shadow: 1px 5px 10px rgba(255,224,210,255);
    }
    
    #boton{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 25vw;
        top: 270vw;
        width: 50vw;
        height: 10vw;
        border-radius: 2vw;
        text-decoration: none;
        background: #ff6f2c;
    }
    #añadir{
        color: white;
        font-size: 4vw;
        font-family: mlight;
    }

}