@font-face {
    font-family: letra1;
    src: url(font/Myriad\ Pro\ Light.otf);
}
@font-face {
    font-family: letra2;
    src: url(font/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: mbold;
    src: url(font/MYRIADPRO-BOLD.woff);
}

@media (max-width: 1920px) and (min-width: 432px) {


#contenedor{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    background-image: url(img/pexels-pixabay-159400.png);
}

.menu {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 3.5vw;
    background-color: white;
    border-bottom: 0.15vw  solid #a3a3a3;
}

.menu img {
    width: 1.5vw;
    margin-top: 0.6vw;
}

#img4{
    margin-top: 0.3vw;
}

#img9 {
    position: absolute;
    left: 95vw;
    width: 2.7vw;
    top: 0;
}

#img8 {
    position: absolute;
    left: 93vw;
    width: 1vw;
}

#img7 {
    position: absolute;
    left: 91vw;
    width: 1vw;
}

.iconos {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-left: 3vw;
}

#img4 {
    width: 2vw;
}

.texto {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    font-family: regular;
    font-size: 1.3vw;
}

#p5 {
    position: absolute;
    left: 78vw;
    text-decoration: none;
    color: #000;
}

#p4 {
    position: absolute;
    left: 65vw;
    text-decoration: none;
    color: #000;
}

#p3 {
    position: absolute;
    left: 37.5vw;
    text-decoration: none;
    color: #000;
}

#p2 {
    position: absolute;
    left: 24.5vw;
    text-decoration: none;
    color: #000;
}

#p1 {
    position: absolute;
    left: 11.5vw;
    text-decoration: none;
    color: #000;
}

#cuadro{
    margin-top: 10vw;
    margin-left: 31vw;
    width: 37vw;
    height: 25vw;
    border-radius: 1vw;
    background: white;
    text-align: center;
}

#profeImg{
    margin-top: 2vw;
    width: 11vw;
    height: 11vw;
}

#nombre{
    margin-top: 0.5vw;
    font-size: 2vw;
    font-family: letra2;
}

#usuario{
    margin-top: -2vw;
    font-size: 1.4vw;
    font-family: letra2;
    color: #4B4949;
}

#boton{
    border-radius: 2vw;
    margin-left: 11.5vw;
    background: #FF6F2C;
    width: 14vw;
    height: 3vw;
}

#cerrar{
    position: relative;
    top: -3.5vw;
    font-size: 1.4vw;
    font-family: letra1;
    color: white;
    text-decoration: none;
}

}

@media (max-width: 431px) {

    #contenedor {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 189vw;
        top: 0vw;
        left: 0vw;
        background: linear-gradient(to bottom, #5a5a5a, black 60%);
    }

    .menu {
        display: none;
    }

    #cuadro {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 40vw;
        width: 90vw;
        height: 90vw;
        border-radius: 5vw;
        color: white;
    }

    #profeImg {
        width: 80vw;
        height: 80vw;
        mask-image: linear-gradient(#000 80%, transparent);
    }

    #nombre {
        text-align: center;
        font-size: 10vw;
        -webkit-text-stroke: 0.2vw #ff6f2c;
        font-family: mbold; 
    }

    #usuario, #boton, #cerrar {
        display: none;
    }

    #adios {
        font-size: 5vw;
        font-family: letra2;
    }

}