@font-face {
    font-family: letra1;
    src: url(font/Myriad\ Pro\ Light.otf);
}

@font-face {
    font-family: letra2;
    src: url(font/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: mbold;
    src: url(font/MYRIADPRO-BOLD.woff);
}

@media (max-width: 1920px) and (min-width: 432px) {


#contenedor{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
}
.menu {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 3.5vw;
    border-bottom: 0.15vw  solid #a3a3a3 ;
}

.menu img {
    width: 1.5vw;
    margin-top: 0.6vw;
}

#img4{
    margin-top: 0.3vw;
}

#img9 {
    position: absolute;
    left: 95vw;
    width: 2.7vw;
    top: 0;
}

#img8 {
    position: absolute;
    left: 93vw;
    width: 1vw;
}

#img7 {
    position: absolute;
    left: 91vw;
    width: 1vw;
}

#option {
    display: none;
}

#options {
    display: none;
}

.iconos {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-left: 3vw;
}

#img4 {
    width: 2vw;
}

.texto {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    font-family: letra2;
    font-size: 1.3vw;
}

#p5 {
    position: absolute;
    left: 78vw;
    text-decoration: none;
    color: #000;
}

#p4 {
    position: absolute;
    left: 65vw;
    text-decoration: none;
    color: #000;
}

#p3 {
    position: absolute;
    left: 37.5vw;
    text-decoration: none;
    color: #000;
}

#p2 {
    position: absolute;
    left: 24.5vw;
    text-decoration: none;
    color: #000;
}

#p1 {
    position: absolute;
    left: 11.5vw;
    text-decoration: none;
    color: #000;
}

#panel{
    margin-top: 2vw;
    text-align: center;
    font-family: letra2;
    font-size: 2vw;
    color: black;
}

#img{
    width: 5.1vw;
    height: 4.5vw;
    border-radius: 3vw;
    z-index: 1;
    margin-left: -43.5vw;
    margin-top: -1.1vw;
}

#cuadroText{
    position: absolute;
    top: 9vw;
    width: 48vw;
    height: 4vw;
    font-size: 2vw;
    border-radius: 2vw;
    border: 0.15vw solid #ff6f2c;
    background: #F6F1F1;
    outline: none;
    text-align: center;
}
#cerrar{
    display: none;
}
#cuadros{
    margin-top: -1vw;
    margin-left: 14vw;
}
#cuadrito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5vw;
    color: white;
    font-family: letra1;
    margin-top: 5vw;
    width: 18vw;
    height: 10vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    margin-left: -14vw;
    text-align: center;
}
#cerrar:checked ~#cuadrito{
    opacity: 0;
}
#modelado{
    margin-top: 1vw;
    font-size: 2.3vw;
    font-family: letra2;
    color: #868484;
}
#boton{
    margin-top: 1vw;
    background: #FF6F2C;
    width: 10vw;
    height: 2.5vw;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: white;
    font-family: letra1;
}
#cuadrito2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10.2vw;
    width: 18vw;
    height: 10vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    margin-left: 14vw;
    text-align: center;
}
#finca{
    margin-top: 1vw;
    font-size: 2.3vw;
    font-family: letra2;
    color: #868484;
}
#cerrar2{
    display: none;
}
#cerrar2:checked ~#cuadrito2{
    opacity: 0;
}
#boton2{
    margin-top: 1vw;
    background: #FF6F2C;
    width: 10vw;
    height: 2.5vw;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: white;
    font-family: mlight;
}
#eliminar2{
    margin-top: -3.3vw;
    font-size: 1.5vw;
    color: white;
}
#cerrar3{
    display: none;
}
#cerrar3:checked ~#cuadrito3{
    opacity: 0;
}
#cuadrito3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10.2vw;
    width: 18vw;
    height: 10vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    margin-left: 42vw;
    text-align: center;
}
#colegios{
    margin-top: 1vw;
    font-size: 2.3vw;
    font-family: letra2;
    color: #868484;
}
#boton3{
    margin-top: 1vw;
    background: #FF6F2C;
    width: 10vw;
    height: 2.5vw;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: white;
    font-family: letra1;
}
#eliminar3{
    margin-top: -3.3vw;
    font-size: 1.5vw;
    color: white;
}
#estrato{
    font-size: 2.3vw;
    font-family: letra2;
    color: #868484;
}
#cerrar4{
    display: none;
}
#cerrar4:checked ~#cuadrito4{
    opacity: 0;
}
#cuadrito4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5vw;
    color: white;
    font-family: letra1;
    margin-top: 5vw;
    width: 18vw;
    height: 10vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    margin-left: -14vw;
    text-align: center;
}
#cerrar5{
    display: none;
}
#cerrar5:checked ~#cuadrito5{
    opacity: 0;
}
#cuadrito5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10.2vw;
    width: 18vw;
    height: 10vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    margin-left: 14vw;
    text-align: center;
}
#cerrar6{
    display: none;
}
#cerrar6:checked ~#cuadrito6{
    opacity: 0;
}
#cuadrito6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -10.2vw;
    width: 18vw;
    height: 10vw;
    border: #FF6F2C 2px solid;
    border-radius: 1vw;
    box-shadow: 1px 5px 10px rgba(255,224,210,255);
    margin-left: 42vw;
    text-align: center;
}
.salida {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vw;
    left: 3vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50vw;
    background-color: #ff6f2c;
}

.salida img {
    width: 2vw;
}

}

@media (max-width: 431px) {

body {
    display: grid;
    padding-block: 128px;
    place-content: center;
    gap: 5vw;
}

#contenedor {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 350vw;
    top: 0vw;
    left: 0vw;
    background: linear-gradient(to bottom, #5a5a5a, black 75%);
}

.menu {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 15vw;
    background: #fff;
    border-bottom: 0.15vw  solid #a3a3a3 ;
}

#img{
    width: 11vw;
    height: 11.3vw;
    border-radius: 3vw;
    z-index: 1;
    margin-left: -71vw;
    margin-top: 29.9vw;
}

#img9 {
    position: absolute;
    top: 1.5vw;
    left: 85vw;
    width: 12vw;
}

#img8 {
    position: absolute;
    left: 75vw;
    width: 5vw;
}

#img7 {
    position: absolute;
    left: 65vw;
    width: 5vw;
}

#img4 {
    position: absolute;
    top: 4vw;
    left: 45vw;
    width: 9vw;
    opacity: 1;
}

.menu img {
    width: 8vw;
}

.iconos {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: -9vw;
    margin-top: 85vw;
    z-index: 4;
    opacity: 0;
    gap: 4vw;
}

#option:checked ~.iconos {
    opacity: 1;
}

#option:not(:checked) ~.iconos {
    pointer-events: none;
}

.texto a{
    position: absolute;
    font-family: letra1;
    font-size: 5vw;
    z-index: 1;
    opacity: 0;
}

#option:checked ~.texto a {
    opacity: 1;
}

#option:not(:checked) ~.texto a {
    pointer-events: none;
}

.texto {
    position: relative;
    display: flex;
    flex-direction: column;
}

#p5 {
    position: absolute;
    top: 67.5vw;
    left: -60vw;
    text-decoration: none;
    color: #fff;
    z-index: 2;
}

#p4 {
    position: absolute;
    top: 53vw;
    left: -60vw;
    text-decoration: none;
    color: #fff;
    z-index: 2;
}

#p3 {
    position: absolute;
    top: 39vw;
    left: -60vw;
    text-decoration: none;
    color: #fff;
    z-index: 2;
}

#p2 {
    position: absolute;
    top: 24vw;
    left: -60vw;
    text-decoration: none;
    color: #fff;
    z-index: 2;
}

#p1 {
    position: absolute;
    top: 12vw;
    left: -60vw;
    text-decoration: none;
    color: #fff;
    z-index: 2;
}

.salida {
    display: none;
}

.check {
    position: relative;
    width: 10vw;
    height: 10vw;
}

#options {
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 10vw;
    height: 10vw;
}

#option {
    display: none;
}

.hamburguer {
    position: absolute;
    top: 15vw;
    left: -2vw;
    width: 100vw;
    height: 0vw;
    background-color: #000;
    z-index: 2;
}

#option:checked ~.hamburguer {
    width: 100vw;
    height: 70vw;
    animation-name: nose;
    animation-duration: 0s;
    transition: 0s;
}
  
@keyframes nose {
    from { width: 100vw ; height: 0vw;}
    to { width: 100vw; height: 70vw;}
}

#panel {
    position: absolute;
    top: 15vw;
    font-size: 5vw;
    font-family: mbold;
    color: #fff;
}

#cuadroText{
    position: absolute;
    display: flex;
    top: 30vw;
    width: 80vw;
    height: 10vw;
    font-size: 4vw;
    background: #F6F1F1;
    border-radius: 3vw;
    border: 0.5vw solid #ff6f2c;
    outline: none;
    text-align: center;
}

#cuadros {
    position: absolute;
    top: 50vw;
}

#cuadrito, #cuadrito2, #cuadrito3, #cuadrito4, #cuadrito5, #cuadrito6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    object-fit: cover;
    width: 50vw;
    height: 35vw;
    border-radius: 2vw;
    border: 0.5vw solid #ff6f2c;
    box-shadow: 1px 10px 15px #ff6f2c;
    margin-top: 5vw;
    gap: 5vw;
}

#cuadrito, #cuadrito2, #cuadrito3, #cuadrito4, #cuadrito5, #cuadrito6 {
    font-family: mbold;
}

@keyframes show {
    from {
        opacity: 0; scale: 10%;
    }

    to {
        opacity: 1; scale: 100%;
    }
}

#cuadrito, #cuadrito2, #cuadrito3, #cuadrito4, #cuadrito5, #cuadrito6 {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

#cerrar, #cerrar2, #cerrar3, #cerrar4, #cerrar5, #cerrar6 {
    display: none;
}

#cerrar:checked ~#cuadrito{
    display: none;
}
#cerrar2:checked ~#cuadrito2{
    display: none;
}
#cerrar3:checked ~#cuadrito3{
    display: none;
}
#cerrar4:checked ~#cuadrito4{
    display: none;
}
#cerrar5:checked ~#cuadrito5{
    display: none;
}
#cerrar6:checked ~#cuadrito6{
    display: none;
}

#boton, #boton2, #boton3, #boton4, #boton5, #boton6{
    margin-top: 1vw;
    background: #FF6F2C;
    width: 30vw;
    height: 6vw;
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: white;
    font-family: letra1;
}
}